@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: murasaki --default
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-shrikhand: "Shrikhand", serif;

  --animate-fade-in: fadeIn 0.5s;
  --animate-searchslide: searchslide 2s;

}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
